/* root CSS */

:root {
    --primary-font: 'Overpass';
    --display-font: 'Passion One';

    --thin: 200;
    --medium: 600;
    --medium-bold: 700;
    --bold: 800;
    --x-bold: 900;

    /*colors*/

    --coffee-bean: #221c1bff;
    --taupe: #51443dff;
    --amber-earth: #dc7b04ff;
    --papaya-whip: #fef1d7ff;
    --cream-whip: #f8f3e9;
    --powder-blue: #a6c6deff;
    --smart-blue: #4667afff;

    --shadow-light: 0px 2px 8px rgb(0 0 0 / 15%);
}

/* root CSS END */

/* CI CSS */

* {
    scrollbar-width: thin;
    scrollbar-color: var(--amber-earth) var(--taupe);
}

html,
body {

    font-family: var(--primary-font);
    font-size: 16px;
    color: var(--coffee-bean);
    background-color: var(--cream-whip);
}

main {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
    gap: 25px;
}

@media (max-width: 1024px) {
    main {
        margin: 0 clamp(0.3125rem, -2.2768rem + 12.9464vw, 9.375rem);
    }
}


h1,
h2,
h3,
h4 {
    font-family: var(--display-font);
}

h1 {
    font-size: 3rem;
    font-weight: var(--x-bold);
    letter-spacing: 5%;
}

h2 {
    font-size: 2.2rem;
}

h3 {
    font-size: 1.5rem;
    letter-spacing: 2%;
}

h4 {
    font-size: 1.2rem;
}

li {
    list-style: none;
}

button {
    width: max-content;
    background: none;
    border: none;
    border-radius: 35px;
    background-color: var(--taupe);
    padding: 10px 15px;
    color: var(--cream-whip);
    font-size: 0.8rem;
    font-weight: var(--bold);
    transition: all 35ms ease-in-out;
}

button:hover {
    transform: scale(1.1);
}

label {
    font-weight: var(--medium);
    font-size: 1.1rem;
}

/* CI CSS END*/