/* Standard CSS */

/*  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.hidden {
    display: none;
}

.invisible {
    opacity: 0;
    pointer-events: none;
}

/* Standard CSS END */